@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #cfc9c9;
  color: #333;
  overflow-x: hidden;
}

.container {
  position: relative;
  align-items: center;
  text-align: center;
}

.title {
  position: absolute;
  font-size: 6em;
  height: auto;
  margin: 0;
  padding: 0px 20px;
  top: 66.4%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-family: "Grey Qo", cursive;
}

button {
  padding: 15px 30px;
  font-size: 4.25rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 40px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  z-index: 5;
}

button:hover {
  background-color: #0c4888;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
  background-color: #0c4888;
  transform: scale(1);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #0c4888;
}

.banner {
  max-width: 100%;
  height: auto;
  margin-top: 0;
  position: relative;
  z-index: 1;
}




/* Responsive Styles */
@media (max-width: 1200px) {
  .title {
    font-size: 4.5em;
    padding-top: 150px;
    
  }
  button {
    font-size: 2.5rem;
  }
}

@media (max-width: 900px) {
  .title {
    font-size: 4.5em; 
  }
  button {
    position: relative;
    font-size: 1.5rem;
    top: 100px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 3em; 
    padding-top: 150px;
  }

  button {
    position: relative;
    font-size: 1.5rem;
    top: 100px;
  }
}

@media (max-width: 300px) {
  .title {
    font-size: 2em; 
  }

  button {
    padding: 6px 12px;
    font-size: 1.5rem;
  }
}
